@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    box-sizing: border-box;

    padding: 0;
    text-decoration: none;
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 0;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

}

.launchandrocket {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
    flex-wrap: wrap;

}

body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;


}

div h1 {

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    /* identical to box height */

    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: var(--purple);
}


.justlaunch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem;

}

#signup {
    padding-top: 2rem;
    font-size: 1.5rem;
}

#button {
    padding-top: 2rem;
}

.top {
    width: 100%
}

.bottom {
    width: 100%;
}

#rocket img {
    width: 32.93rem;
    height: 22.18rem;

}

button {
    width: 160px;
    height: 46px;
    background-color: var(--purple);
    border-radius: 0.62rem;

}

.countdown-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}

.text {
    font-weight: bold;
    font-size: 1.5rem;
}